/* theme--light css */
.location-btn.v-btn--floating.v-btn--small {
    z-index: 99;
}

.location-card-header {
    position: relative;
}

.location-card-header .close-model {
    position: absolute;
    right: 15px;
}

.v-input__prepend-outer {
    margin-right: 20px !important;
}

.required {
    color: red;
}

.success--text {
    color: #246962 !important;
}

/* theme--dark css */
.theme--dark .required {
    color: red !important;
}

/* rtl-layout css */
.rtl-layout .location-card-header .close-model {
    position: absolute;
    left: 15px;
    right: auto;
}

.rtl-layout .v-select__slot label {
    left: 30px !important;
    right: auto;
    position: absolute;
}